html {
    border: 0px none;
    outline: 0px none;
    font-size: 100%;
    vertical-align: baseline;
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    font-family: Helvetica, Arial,sans-serif;
    
}
a {
  text-decoration:none;
  color: inherit; 
}

body{
  margin: 0px;
}

ul li {
    list-style: outside none none;
    padding: 0;
    border-bottom: 1px solid lightgray;
 }

li:hover{
  border-color: lighten(#FFB135,10%);	
  color: darken(#fff, 70%);
  background: darken(#f7f7f7,4%);
 }

li:hover span{
	 color:darken(#fff, 50%)
}	

header.header{
    position: fixed; 
    top: 0px;
  	background-color: #22231B;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    width: 100%;
    display:block; 
    overflow: none; 
    z-index: 101;
}

.headerContainer {
    display: block;
    position: relative; 
    background-color: #121418;
    width: auto;
}

.headerContainer .rightHeaderContent {
  position: relative;
  display: inline-block;
  float: right;
  height: auto; 
}

.headerContainer .leftHeaderContent {
    position: relative; 
    display: inline-block; 
    float: left; 
}

/* left */
.seachList{

}

.leftRounded {
   border-radius: 8px 0px 0px 8px;
    transition: top 2s ease-out 5s;
}

.rightRounded{
   border-radius: 0 8px 8px 0;
}

.leftRounded:hover,
.rightRounded:hover{

  transform: scale(1.1);
  border: 1px solid black;
}

.iconed:before {
  content: " ";
  display: block; 
  font-size: 24pt;  
  background: url("../img/About-48.png");
}

.seachList>li{
  background-color: whitesmoke;
  border: 1px solid gray; 
  display: inline-block; 
  height: 30px;
  padding: 5px; 
  vertical-align:middle; 
  text-align: center; 
 
}

li.logo{
  margin-right: 0.5em; 
  background-color: inherit; 
  color: whitesmoke; 
  text-align: center; 
  font-family: cursive;
  font-size: 24px;
  font-weight: 800;
  border: none; 
}

li.logo>span{
    vertical-align: middle; 
}

.field {
    color: #a7a7a7;
    position: relative; 
    background-color: whitesmoke; 
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 0 6px 4px;
    border: none; 
    margin: 0px 10px 0px 15px;
}

.field:focus {
   color: black; 
}

/* right block in header*/
.rightHeader {
    width: auto;
    vertical-align: middle; 
    margin-right: 20px;
}

.content{
	display: inline-block; 
    vertical-align: middle; 
    background-color: whitesmoke; 
    height: 30px;
    padding: 5px 5px 5px 5px; 
    border: 1px solid gray; 
    border: none; 
}

.content.short{
    height: 20px;
    padding: 5px 5px 5px 15px; 
    border: 1px solid gray; 
    border: none;
}

.collapse.content{
  padding: 0px;
  vertical-align: top; 
}

.UserNavigateButton{
  background-color: whitesmoke; 
  border: none; 
}

.UserNavigateButton.named {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px;
     
}

.usernameLink{
  margin: 0px; 
  position: relative; 
}
.profileName{
  font-size: 16px; 
}

.dropdown {
    background-color: whitesmoke; 
    position: relative;
    display: inline-block;
}

.button.drop {
    color: white;
    padding: 0px;
    margin: 0px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
   background-color: whitesmoke; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: green(color);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown-content li > a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .bottom .drop {
    background-color: #3e8e41;
}

/* body */


.content-wrapper{
  position: absolute;
  top: 100px;
  display: block;
    font-family: Helvetica, Arial, sans-serif;
  left: 0;
  right: 0;
  padding: 30px;
}

.center{
  position: relative; 
  margin: 0 auto;
  width: auto;
  background-color: aqua; 
  overflow: hidden;
  
}

.column{
    position: relative; 
    vertical-align: top; 
    margin: auto;
    padding: auto; 
}
.column_main{
  min-width: 500px;
  max-width: 600px;
  width: 60%; 
}

.column_sidebar{
  margin-left: 60%; 
  padding: 20px; 
  border: 1px solid black; 
  max-width: 400px; 
  text-align: left;
  width: 25%;
  float: right; 
  overflow: hidden;
  
}

.page_body {
    color: #333;
    position: relative;
    font-size: 15px;
}

/*sorting*/
.subheader{
  background: white;
  margin-bottom: 10px;
  padding: 10px; 
  border-bottom: 1px solid gray; 
}
.tabs{
  height: 40px;
}

.tabs>a{
  background: whitesmoke;
}
.tabs>a:hover{
   background: lightgray; 
}

#tabs>a.active{
  background: #E2F9CD; 
}
  
.content_list {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}

.content-list_item {
    position: relative;
    display: block; 
    height: auto;
    border-bottom: 2px solid #F0F0F0;
    padding: 10px 20px;
    margin-bottom: 20px; 
    max-width: 600px; 
  }

.question_box {
    box-sizing: border-box;
    height:100%;
  
}
.question_box>div{
    display:inline-block;
    margin: 1px;
}
.question_box>div.clearfix{
   width: 100%;
}

.question_content{
    float: left;
    width: 80%;
}

.question_tags{
    display: block; 
    height: 100%;
    padding: 0px; 
    text-align:left; 
}
.question_tags>ul{
    margin: 0px; 
    padding: 0px; 
}

.question_title, .question_title-link{
    color: #333;
    overflow: hidden;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
}
.inline_list {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    white-space: nowrap;
   
}

.question_attrs li.question_attrs_item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    vertical-align: top;
}



.question_info.info{
    position: relative; 
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    height: auto; 
  
}
.question_info_box{
    position: relative; 
    margin: 10px; 
    display: inline-block;
}
.info{
    display: inline-block; 
    font-size: 21px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 5px;
    text-align: center;
    color: #9099a3;
}
.counter_sign{

}
.sign{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.answers{
    font-size: 15px;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
}


/* pagination */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}
ul.pagination li a {
    transition: background-color .3s;
}

